[submodule "IMS_proc"]
	path = IMS_proc
        #url = https://github.com/NOAA-PSL/land-IMS_proc.git
	url = https://github.com/NOAA-EPIC/land-IMS_proc.git
	branch = feature/release-v1.beta

[submodule "add_jedi_incr"]
	path = add_jedi_incr
	url = https://github.com/NOAA-PSL/land-apply_jedi_incr.git
