[submodule "IMS_proc"]
	path = IMS_proc
	url = https://github.com/NOAA-PSL/land-SCF_proc.git
	branch = develop

[submodule "add_jedi_incr"]
	path = add_jedi_incr
	url = https://github.com/NOAA-PSL/land-apply_jedi_incr.git
